defaults:
  - _self_
  - _base_model_config.yaml  # general model params (i.e. they can/may apply to all ML models)
  - /optimizer: adamw.yaml
  - mixer: afno1d.yaml

_target_: aibedo.models.afnonet.AFNONet
hidden_dim: 384  # null to keep projected dim from input_transform  # 768
num_layers: 4    # 6, 12
mlp_ratio: 4.0
uniform_drop: False
dropout: 0.0
drop_path_rate: 0.0  # 0.1
net_normalization: "layer_norm"
layer_norm_eps: 1e-6
mlp_activation_function: "gelu"
linear_head: True